{% extends 'base.html' %}

{% block title %}
About 
{% endblock title %}

{% block body %}
<div class="banner">
    <img src="/static/image/15.png" alt="..." style="width: 100%;">

</div>
<div class="container" style="margin-top:20px ; border: 1px #eef5f4; border-radius: 3px; ">
    <div class="row" ">
        <div class="col" style="text-align:center ;">
            <h3 class="heading" style="margin: 30px;     font-family: Roboto, Sans-serif!important;
            color: var(--color-secondary);"><b>Our Story</b></h3>
            <span style="color: #000!important;    font-family: Roboto, Sans-serif!important;
            color: var(--color-secondary);">
            By 2030, a global population of 8.5 billion will demand 50% more food than is consumed today and 125 billion devices will be connected to the internet.

            It is science and technology when combined, can address global challenges that farming faces today. Addressing this expanded need for food will require substantial improvements and innovation to the way we consume technology in agriculture.
            
            In the euphoria of various technologies, we want to be ones who understand the technology deeply, but can explain, and implement simply for the benefit of the entire Agri eco-system and that’s how Kheti Buddy was conceptualized.
            
            Kheti Buddy, true to its name, is a companion if you are in the journey of growing food as a farmer or home grower. Kheti stands for farming, and as a true buddy, the technology we have developed helps you at every stage of your farming process (kheti badi). It helps in collecting, measuring, advising, trying to improve your farming habits, and doing our bit in systematically contributing to improving global food production through our suite of products and services.
            
            </span></div>
        <div class="col">
            <div class="image">
                <img src="/static/image/16.jpg" alt="..." style="height:500px ; width: 500px;">
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:50px ;">

        <div class="col">
            <img src="/static/image/17.png" alt="..." style="height: 500px; width:500px;">
        </div>
        <div class="col">
        <div class="motive" style="margin-top:90px ;">
           <h2 class="heading" style="color: #000!important"><b>Our Mission</b></h2>
           <h4 class="heading"><span style="color: red;">  To implement technology with purpose of great good</span></h4>

        </div>
        </div>
    </div>
</div>
{% endblock body %}