<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">


    <title>{% block title %}{% endblock title %} | Farm Management</title>
    
  </head>
  <style>
    .heading{
    text-align:center ; 
    font-family:Poppins,sans-serif;
    color: #212121;
  }
    .text-white{
      color: #d1d1d1;
      font-family: Poppins,sans-serif;
      font-style: normal;
      font-weight: normal;
      text-decoration: none;
      font-size: 12px;
      line-height: 12px;
      background-color: transparent

    }
    .text-uppercase{
      font-size: 15px;
    }
    li{
      position: relative;
    margin-bottom: 13px;
    padding-left: 0px;
    width: 100%;
    line-height: 12px;
    }
   .logo{
     background-color: black;
     border: 3px;
     margin-left: 25px;
   }
   .share {
  display: inline-block;
  color: #0099cc;
  font-size: 25px;
}
    
  </style>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- <div class="logo"> -->
        <a href="home" class="logo"><img src="/static/image/14.png" style="height:50px ; width: 50px;" alt=""></a>
        
      <!-- </div> -->
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Solutions
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="farm_management_solution" target="_blank">Farm Management Solution </a></li>
                <li><a class="dropdown-item" href="farm_risk_assessment">Farm Risk & Assessment Solution</a></li>
                <li><a class="dropdown-item" href="supply_chain_traceability_solution">Suply Chain Traceability Solution</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Industries
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="farming">Farming</a></li>
                <li><a class="dropdown-item" href="seed_companies">Seed Companies</a></li>
                <li><a class="dropdown-item" href="food_processing">Food Processing</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Resources
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="blogs">Blogs</a></li>
                <li><a class="dropdown-item" href="news">News</a></li>
                <li><a class="dropdown-item" href="webinars">Webinars</a></li>
                <li><a class="dropdown-item" href="case_study">Case Study</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Company
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="about">About</a></li>
                <li><a class="dropdown-item" href="carrers">Carrers</a></li>
              </ul>
            </li>
            <li class="nav-item " style="border:1px solid rgb(232, 221, 221) ; border-radius: 5px;">
              <a class="nav-link active" style="color: rgba(255,255,255,.55);" aria-current="page" href="contact">Contact</a>
            </li>
          </ul>
        </div>
        
      </div>
    </nav>
    
    {% block body %}{% endblock body %}
    <div class="footer" style="margin-top: 50px; ">
      <!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
          
          
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" class="form-control" placeholder="Emaiil address" />
              
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->

    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">SOLUTIONS</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="farm_management_solution" class="text-white">Farm Management</a>
            </li>
            <li>
              <a href="farm_risk_assessment" class="text-white">Farm Risk & Assessment</a>
            </li>
            <li>
              <a href="supply_chain_traceability_solution" class="text-white">Supply Chain Traceablity</a>
            </li>
           
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">COMPANY</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="about" class="text-white">About Us</a>
            </li>
            <li>
              <a href="#!" class="text-white">Industries</a>
            </li>
            <li>
              <a href="#!" class="text-white">Partner with us</a>
            </li>
            <li>
              <a href="carrers" class="text-white">Careers</a>
            </li>
            <li>
              <a href="#!" class="text-white">Events</a>
            </li>
            <li>
              <a href="contact" class="text-white">Contact</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Resources</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Blogs</a>
            </li>
            <li>
              <a href="#!" class="text-white">News</a>
            </li>
            <li>
              <a href="#!" class="text-white">Webinars</a>
            </li>
            <li>
              <a href="#!" class="text-white">Case Studies</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">OTHER RESOURCES</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">IoT(Internet of Things)</a>
            </li>
            <li>
              <a href="#!" class="text-white">Digitilization in Farming</a>
            </li>
            <li>
              <a href="#!" class="text-white">Smart Farming</a>
            </li>
            <li>
              <a href="#!" class="text-white">Vertical Farming</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MyAssistant.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
    </div>
    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>
