{% extends 'base.html' %}

{% block title %}
Carrer
{% endblock title %}

</style>
{% block body %}
<div class="carrer-banner">
    <img src="/static/image/20.jpg" alt="..." style="width: 1263px; height: 300px;">
</div>
<div class="container" style="margin-top:50px ;">
    <div class="row">
        <div class="col heading" style="text-align: center; color: rgb(111, 28, 28);"><h2><b>We're always looing for talent </b></h2></div>
       
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col heading"style="text-align: center; color: rgb(111, 28, 28);><span ">Got what it takes to work with us? Great! Send us a link to your resume or
            <br> portfolio to become part of our talent pool.</span></div>
    </div>
    <div class="text-center" style="margin-top:40px ;">
        <button type="button" class="btn btn-secondary btn-lg" style="background-color: #635146;"><b>CLICK HERE FOR OPEN POSITIONS</b></button>
    </div>
    
</div>
<div class="container" style="margin-top: 50px; ">
    
    <div class="row">
        <div class="col"  >
        <div class="col" style="margin-top: 30px;"><h2 class="heading" style="text-align: left;"><b>Work culture that makes you grow</b></h2></div>
        <div class="col">
            <div class="row" style="margin-top:30px ;">What if you went to work everyday knowing that your effort is making life easier for farming community?</div>
            <div class="row" style="margin-top: 30px;"> What if you went to work everyday where your employer cares equally about your health as much as your project ?</div>
            <div class="row" style="margin-top:30px;"> What if coming to work everyday is a celebration of life, having fun as we get some serious work done?</div>
        </div>
    </div>
        <div class="col" style="margin-left: 100px; margin-top: 25px;">
            <img src="/static/image/carrer_image.jpg" alt="..." style="height:300px ; width:500px;">
        </div>
    </div>
</div>
{{form}}

{% endblock body %}