{% extends 'base.html' %}

{% block title %}Farm Management Solution{% endblock title %}
<style>
    .keyfeatures-heading{
        text-align:center ; 
        font-family:Poppins,sans-serif;
        color: #212121;
    }
    .benefits-heading{
        text-align:center ; 
        font-family:Poppins,sans-serif;
        color: #212121;
    }
   
    li{
        color: #fff;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>
{% block body %}

<div class="heading" style="margin-top: 40px; font: bold;">
    <h2><b> What is smartfarm ?</b></h2>
    <div class="video">
        <iframe width="720" height="400" src="https://www.youtube.com/embed/AhCgcNuorKM/?autoplay=1">
        </iframe>
    </div>
</div>
<div class="benefits-keyfeatures">
    <div class="container">
        <div class="row" >
          <div class="col keyfeatures" style=" background-color: #f5f6f9; margin-right: 30px; margin-top: 40px; margin-bottom: 30px; padding: 20px;  padding-left: 30px; border: #c7ccd7; border-radius: 20px;" >
            <h3>Keyfeatures</h3>
            <div class="icon-lists">
                <ul>
                    <li aria-level="1" >Geotag farm plots</li>
                    <li aria-level="1">Detect crops</li>
                    <li aria-level="1">Monitor input usage</li>
                    <li aria-level="1">Monitor crop health remotely</li>
                    <li aria-level="1">Set pest and disease alerts</li>
                    <li aria-level="1">Manage alerts and activity log</li>
                    <li aria-level="1">Set up workflows and tasks for the field team</li>
                    <li aria-level="1">Customizable business intelligence dashboard &amp; reporting</li>
                    <li aria-level="1">Share weather-related advisory</li>
                    
                </ul>
              </div>

          </div>
          <div class="col benefits" style=" background-color: #f5f6f9; margin-left: 0px; margin-top: 40px; margin-bottom: 30px; padding: 20px; padding-left: 30px;  border: #c7ccd7; border-radius: 20px; ">
            <div class="c-features-card__item_inner">
                <h3 >Benefits</h3>
                <div class="icon-lists">
                  <ul>
                      <li aria-level="1">Complete farm digitization</li>
                      <li aria-level="1">Improved data capture accuracy</li>
                      <li aria-level="1">Traceability and output predictability</li>
                      <li aria-level="1">Increased farm productivity</li>
                      <li aria-level="1">Improved profitability</li>
                      <li aria-level="1">Adherence to the package of practices</li>
                      <li aria-level="1">Improved yield quality &amp; quantity</li>
                      <li aria-level="1">Monitoring of carbon credits</li>
                      <li aria-level="1">Reduced cost of operations</li>
                    </ul>
                    </div>
                
              </div>
          </div>
        </div>
      </div>
</div>
<div class="smartfarm-solving">
    <h2 class="smartfarm-heading" style=" text-align:center ; font-family:Poppins,sans-serif; color: #212121;"><b>Enterprises and institutions leveraging our farm digitization and business intelligence solution</b></h2>
    <div class="container">
        <div class="row" style="margin:10px ;" >
          <div class="col" style="   border: #c7ccd7; border-radius: 20px; margin: 10px; ">
            <img class="center" src="/static/image/7.jpg" style="height: 150px; width: 300px; margin-left: 20px;" alt="">
            <span>East-West Seed implemented Farm Management Solution across 7 countries, over 20,000 acres, and successfully digitized farms and farmer profiles leading to:
                <br> Improved farm productivity by 40%
                <br>Increased acreage by 27%
                <br>Improved yield quality</span>
        </div>
        <div class="col" style="   border: #c7ccd7; border-radius: 20px; margin: 10px;">
            <img src="/static/image/8.jpg" style="height: 150px; width: 300px;" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore enim sapiente vel obcaecati dolorum fugit, commodi odio optio, aut alias consequuntur deleniti placeat non. Labore atque aut nostrum accusamus deserunt dolor blanditiis consequatur impedit quis architecto fugit omnis maiores, est cum animi quaerat ut eveniet iste saepe? Iste, vitae? Debitis.</p>
        </div>
        <div class="col" style="   border: #c7ccd7; border-radius: 20px; margin: 10px;">
            <img src="/static/image/9.webp" style="height: 150px; width: 300px;" alt="">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum voluptates quas ipsam assumenda eum. Temporibus delectus asperiores itaque ipsa ab esse voluptates error repellat necessitatibus, totam nemo, qui, exercitationem iusto. Excepturi, rem blanditiis suscipit, dolore numquam dicta, consectetur ab enim aperiam sunt at et. Eligendi praesentium laboriosam illum eaque at?</p>
        </div>
        
    </div>
</div>

</div>
{% endblock body %}